table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 32px;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    opacity: 0.75;
}

table {
    width: 100%;
    background-color: white;
    opacity: 0.75;
}

.novi {
    font-size: 32px;
    background-color: white;
    opacity: 0.75;
}

body{
    background-image: url("https://www.webdesignerdepot.com/cdn-origin/uploads/2009/03/airline-logos.jpg");
}